<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programs List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/media.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/programmes.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

    
    <style>
    
        .filters li {
            margin-bottom: 20px;
        }

        .filters label {
            font-weight: bold;
            margin-right: 40px;
            display: block;
        }

        .filter-checkbox-group label {
            display: block;
            margin-bottom: 5px;
        }

        .see-more,
        .see-less {
            color: #000000;
            cursor: pointer;
            font-size: 0.9em;
            margin-top: 5px;
            display: inline-block;
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <header>
        <nav>
            <a href="/">
                <div class="logo">Elysian<span>Scholars</span></div>
            </a>
            <button class="menu-toggle" aria-label="Toggle navigation">
                <span class="hamburger-icon">&#9776;</span>
            </button>
            <!-- <ul class="nav-menu">
                <li><a href="#home">Explore</a></li>
                <li><a href="#about">Decide</a></li>
                <li><a href="#service">Apply</a></li>
            </ul> -->
            <div class="right-nav">
                <div class="profile-section">
                    <!-- Clickable profile icon -->
                    <a href="{{ url_for('profile') }}">
                        <i class="fas fa-user-circle profile-icon"></i>  <!-- Font Awesome profile icon -->
                    </a>
                    <p class="username">{{ username }}</p> <!-- Display username -->
                </div>
            </div>
        </nav>
    </header>
    <h1>
      {% if selected_degree == 'master' %}
          Master's degrees from all around the world
      {% elif selected_degree == 'bachelor' %}
          Bachelor's degrees from all around the world
      {% else %}
          Degrees from all around the world
      {% endif %}
  </h1>
  
    <div class="tabs">
        <a href="{{ url_for('show_programmes') }}" class="tab-link">Scholarships</a>
        <a href="{{ url_for('show_university') }}" class="tab-link">Programmes</a>
    </div>

    <div class="container">
        <!-- Sidebar Filters -->
        <aside class="filter-sidebar">
            <h2>Filter by</h2>
            <ul class="filters">
                <!-- Country Filter with "See More" and "See Less" functionality -->
                <li>
                    <label>Location</label>
                    <div id="location-checkboxes" class="filter-checkbox-group">
                        <!-- Country checkboxes will be dynamically generated -->
                    </div>
                    <span class="see-more" id="see-more-btn">See More</span>
                    <span class="see-less" id="see-less-btn" style="display: none;">See Less</span>
                </li>

                <!-- Grant Filter -->
                <li>
                    <label>Grant</label>
                    <div class="filter-checkbox-group">
                        <label><input type="radio" name="grant" value="various-benefits"> Various Benefits</label>
                        <label><input type="radio" name="grant" value="specific-grant"> Specific Grant</label>
                    </div>
                </li>

                <!-- Degree Type Filter with Only One Enabled Checkbox -->
                <li>
                    <label>Degree Type</label>
                    <div class="filter-checkbox-group">
                        <label><input type="radio" name="degree-type" value="bachelors" {% if selected_degree=='Bachelor' %}checked{% endif %}> Bachelor's</label>
                        <label><input type="radio" name="degree-type" value="masters" {% if selected_degree=='Master' %}checked{% endif %} > Master's</label>
                        <!-- <label><input type="checkbox" name="degree-type" value="phd" {% if selected_degree=='PhD' %}checked{% endif %}> PhD</label> -->
                    </div>
                </li>
                <!-- Deadline Filter -->
                <li>
                    <label>Deadline</label>
                    <div class="filter-checkbox-group">
                        <label><input type="radio" name="deadline" value="anytime"> Anytime</label>
                        <label><input type="radio" name="deadline" value="not-specified"> Not Specified</label>
                        <label><input type="radio" name="deadline" value="specific-deadline"> Specific Deadline</label>
                    </div>
                </li>
            </ul>
        </aside>

        <!-- Main Content -->
        <main class="program-list">
            {% if scholarships %}
            <div class="scholarship-cards">
                {% for scholarship in scholarships %}
                <div class="card">
                    <h3>{{ scholarship['Scholarship Name'] }}</h3>
                    <p><strong>Grant:</strong> {{ scholarship['Grant'] }}</p>
                    <p><strong>Deadline:</strong> {{ scholarship['Deadline'] }}</p>
                    <p><strong>Provided University:</strong> {{ scholarship['University Name'] }}</p>
                    <p><strong>Location:</strong> {{ scholarship['Location'] }}</p>
                    <a href="{{ scholarship['Scholarship Link'] }}" target="_blank">Learn More</a>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p>No scholarships found for the selected criteria.</p>
            {% endif %}
            <div class="back-btn">
                <a href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M20 20V10.6L12 4 4 10.6V20a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1z"></path>
                        <path d="M9 21V12h6v9"></path>
                    </svg>
                </a>
                <a href="/search">> Search</a>
                <a href="/show_programmes">> Scholarships</a>
            </div>
            
            

        </main>
    </div>
         <!-- Pagination Controls -->
         <div class="pagination">
            <button class="previous-btn" id="previous-btn">Previous</button>
            <span id="page-number">Page 1</span>
            <button class="next-btn" id="next-btn">Next</button>
        </div>
        

    <script>
        document.addEventListener("DOMContentLoaded", () => {
          let scholar_data = {
            scholarships: [],
          };
          const previousBtn = document.getElementById("previous-btn");
          previousBtn.addEventListener("click", () => {
            handlePrevious();
          });
          const nextBtn = document.getElementById("next-btn");
          nextBtn.addEventListener("click", () => {
            handleNext();
          });
  
          const countryCheckboxesContainer = document.getElementById(
            "location-checkboxes"
          );
          const grantCheckboxes = document.querySelectorAll(
            'input[name="grant"]'
          );
          const deadlineCheckboxes = document.querySelectorAll(
            'input[name="deadline"]'
          );
          const degreeTypeCheckboxes = document.querySelectorAll(
            'input[name="degree-type"]'
          );
  
          const seeMoreBtn = document.getElementById("see-more-btn");
          const seeLessBtn = document.getElementById("see-less-btn");
  
          const selectedCountries = JSON.parse(
            `{{selected_countries|tojson|safe }}`
          ); // Pre-selected countries from server
          const selectedDegree = "{{ selected_degree }}".toLowerCase(); // Pre-selected degree from server
          let universityData = []; // Placeholder for university data
  
          const bachelorCountries = [
            "Australia",
            "Austria",
            "Belgium",
            "Canada",
            "Croatia",
            "Cyprus",
            "Czech Republic",
            "Finland",
            "France",
            "Germany",
            "Greece",
            "Hong Kong (SAR)",
            "Hungary",
            "India",
            "Ireland",
            "Israel",
            "Italy",
            "Lithuania",
            "Malaysia",
            "Malta",
            "Mexico",
            "Netherlands",
            "New Zealand",
            "Online",
            "Poland",
            "Portugal",
            "Saudi Arabia",
            "Singapore",
            "South Africa",
            "Spain",
            "Sweden",
            "Switzerland",
            "Thailand",
            "United Arab Emirates",
            "United Kingdom",
            "United States",
          ];
  
          const masterCountries = [
            "Australia",
            "Austria",
            "Belgium",
            "Canada",
            "Croatia",
            "Cyprus",
            "Czech Republic",
            "Denmark",
            "Finland",
            "France",
            "Germany",
            "Greece",
            "Hong Kong (SAR)",
            "Hungary",
            "India",
            "Ireland",
            "Israel",
            "Italy",
            "Lebanon",
            "Lithuania",
            "Malaysia",
            "Malta",
            "Mexico",
            "Netherlands",
            "New Zealand",
            "Norway",
            "Online",
            "Poland",
            "Portugal",
            "Saudi Arabia",
            "Singapore",
            "Slovenia",
            "South Africa",
            "Spain",
            "Sweden",
            "Switzerland",
            "Thailand",
            "United Arab Emirates",
            "United Kingdom",
            "United States",
          ];
  
          // Render countries based on degree type
          function renderCountries(degreeType) {
            countryCheckboxesContainer.innerHTML = "";
            const countries =
              degreeType === "bachelors" ? bachelorCountries : masterCountries;
  
            countries.forEach((country, index) => {
              const label = document.createElement("label");
              label.style.display = index > 5 ? "none" : "block";
              label.className = index > 5 ? "extra-country" : "";
  
              // Pre-check selected countries
              const isChecked = selectedCountries.includes(country)
                ? "checked"
                : "";
              label.innerHTML = `
                  <input type="checkbox" name="location" value="${country}" ${isChecked}>
                  ${country}
              `;
              countryCheckboxesContainer.appendChild(label);
            });
  
            updateSeeMoreVisibility(countries);
          }
  
          // Update visibility of "See More" and "See Less"
          function updateSeeMoreVisibility(countries) {
            const extraCountries = document.querySelectorAll(".extra-country");
            if (extraCountries.length > 0) {
              seeMoreBtn.style.display = "inline";
              seeLessBtn.style.display = "none";
            } else {
              seeMoreBtn.style.display = "none";
              seeLessBtn.style.display = "none";
            }
          }
  
          // Fetch filtered data from the server
          function fetchFilteredData() {
            const selectedCountries = Array.from(
              countryCheckboxesContainer.querySelectorAll(
                'input[name="location"]:checked'
              )
            ).map((checkbox) => checkbox.value);
            const selectedDegree =
              document.querySelector('input[name="degree-type"]:checked')
                ?.value || "";
            const selectedGrants = Array.from(grantCheckboxes)
              .filter((checkbox) => checkbox.checked)
              .map((checkbox) => checkbox.value);
            const selectedDeadlines = Array.from(deadlineCheckboxes)
              .filter((checkbox) => checkbox.checked)
              .map((checkbox) => checkbox.value);
  
            fetch("/filter_programmes", {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify({
                countries: selectedCountries,
                degree: selectedDegree,
                grant: selectedGrants,
                deadline: selectedDeadlines,
              }),
            })
              .then((response) => response.json())
              .then((data) => {
                updateDisplay(data);
                scholar_data = data;
                console.log(scholar_data);
              })
              .catch((error) => console.error("Error fetching data:", error));
          }
  
          // Update the display with filtered data
          let currentPage = 1; // Start on the first page
          const itemsPerPage = 6; // Number of scholarships per page
  
          function updateDisplay(data) {
            const scholarshipsContainer =
              document.querySelector(".scholarship-cards");
            scholarshipsContainer.innerHTML = ""; // Reset the container
  
            const pagination = document.querySelector(".pagination");
            const pageNumber = document.querySelector("#page-number");
  
            if (data.scholarships.length > 0) {
              const totalPages = Math.ceil(
                data.scholarships.length / itemsPerPage
              );
  
              // Scholarships to display
              const startIndex = (currentPage - 1) * itemsPerPage;
              const endIndex = Math.min(
                startIndex + itemsPerPage,
                data.scholarships.length
              );
              const scholarshipsToDisplay = data.scholarships.slice(
                startIndex,
                endIndex
              );
  
              // Render cards
              scholarshipsToDisplay.forEach((scholarship) => {
                const card = document.createElement("div");
                card.className = "card";
  
                const university = universityData.find(
                  (u) => u.name === scholarship["University Name"]
                );
                const universityUrl = university ? university.web_pages[0] : "#";
  
                card.innerHTML = `
                  <h3>${scholarship["Scholarship Name"]}</h3>
                  <p><strong>Grant:</strong> ${scholarship["Grant"]}</p>
                  <p><strong>Deadline:</strong> ${scholarship["Deadline"]}</p>
                  <p><strong>Provided University:</strong> ${scholarship["University Name"]}</p>
                  <p><strong>Location:</strong> ${scholarship["Location"]}</p>
                  <a href="${universityUrl}" target="_blank">Learn More</a>
              `;
                scholarshipsContainer.appendChild(card);
              });
  
              // Update pagination
              pageNumber.textContent = `Page ${currentPage}`;
              document.querySelector("#previous-btn").disabled =
                currentPage === 1;
              document.querySelector("#next-btn").disabled =
                currentPage === totalPages;
  
              pagination.style.display = totalPages > 1 ? "flex" : "none";
            } else {
              scholarshipsContainer.innerHTML =
                "<p>No scholarships found for the selected criteria.</p>";
              pagination.style.display = "none";
            }
          }
          function handlePrevious() {
            if (currentPage > 1) {
              currentPage--;
              updateDisplay(scholar_data);
            }
          }
          function handleNext() {
            const totalPages = Math.ceil(
              scholar_data.scholarships.length / itemsPerPage
            );
            if (currentPage < totalPages) {
              currentPage++;
  
              updateDisplay(scholar_data);
            }
          }
  
          // Load university data and fetch initial scholarships
          fetch(
            '{{ url_for("static", filename="json/world_universities_and_domains.json") }}'
          )
            .then((response) => response.json())
            .then((data) => {
              universityData = data;
              fetchFilteredData(); // Fetch data after loading university list
            })
            .catch((error) =>
              console.error("Error loading university data:", error)
            );
  
          // Attach event listeners to filters
          countryCheckboxesContainer.addEventListener(
            "change",
            fetchFilteredData
          );
          degreeTypeCheckboxes.forEach((checkbox) =>
            checkbox.addEventListener("change", () => {
              const selectedDegree =
                document.querySelector('input[name="degree-type"]:checked')
                  ?.value || "masters";
              renderCountries(selectedDegree);
              fetchFilteredData();
            })
          );
          grantCheckboxes.forEach((checkbox) =>
            checkbox.addEventListener("change", fetchFilteredData)
          );
          deadlineCheckboxes.forEach((checkbox) =>
            checkbox.addEventListener("change", fetchFilteredData)
          );
  
          // See More / See Less functionality
          seeMoreBtn.addEventListener("click", () => {
            document
              .querySelectorAll(".extra-country")
              .forEach((label) => (label.style.display = "block"));
            seeMoreBtn.style.display = "none";
            seeLessBtn.style.display = "inline";
          });
  
          seeLessBtn.addEventListener("click", () => {
            document
              .querySelectorAll(".extra-country")
              .forEach((label) => (label.style.display = "none"));
            seeMoreBtn.style.display = "inline";
            seeLessBtn.style.display = "none";
          });
  
          // Initial render with the pre-selected degree
          renderCountries(selectedDegree || "masters");
        });
      </script>
    </body>
  </html>
  